site_name: myproject

# mkdocs.yml
theme:
  name: "material"
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
- search
# - social
- tags
- mkdocstrings:
    handlers:
      python:
        options:
          show_source: False
        import:
        - https://docs.python-requests.org/en/master/objects.inv